<!--

-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Your app name</title>
		<!-- sample js -->
		<script src="./libs/sample.js"></script>
		<link rel="stylesheet" href="./fonts/basic.css" />
		<style>
		</style>
	</head>

	<body>
		<div id="root">
		</div>
		<script>
			//local storage global variable declaration
			var ls=window.localStorage;
			//screen auto adaptor
			var screenWidth=document.body.clientWidth;
			var screenHeight=document.body.clientHeight;

			//i18n render
			var client=(window.navigator.userLanguage || (navigator.languages&&navigator.languages[0]) ||window.navigator.language).toLowerCase();
			console.info("index.html(), client:", client);
			var lang={
				'en':1,
				'zh':1,
				'de':1,
				'ja':1,
				'zh-tw':1,
				'es':1,
				'it':1,
				'fr':1,
				'pt-br':1
			};

			var lang_datetimepicker = 'en';

			if(client in lang){
				lang_datetimepicker=client;
			}
			else if(client.substring(0,2) in lang){
				lang_datetimepicker=client.substring(0,2);
			}
			else{
				lang_datetimepicker='en';
			}

			function importScript(url){
				return new Promise(function(resolve, reject) {
					var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = url;
				document.getElementsByTagName('head')[0].appendChild(script);
					script.onload=()=>{
						resolve();
					}
				});
			}

			function importStyle(url){
				var link = document.createElement('link');
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = url;
				document.getElementsByTagName('head')[0].appendChild(link);
			}

			//for audio Analysis
			window.AudioContext = window.AudioContext || window.webkitAudioContext || window.mozAudioContext || window.msAudioContext;

		</script>
	</body>
</html>
