/************************************************************************

 *************************************************************************/
.<component name-lower> {
  z-index: 666;
}
.wizardDialog :global(div[class*='leftLayoutBodyContent']) {
 max-height: calc(100vh - 400px);
 display: flex;
}
